{% extends 'base.html.twig' %}

{% block body %}

    <div class="bg-light p-3">
        <h1>Votre panier</h1>
        {% if items | length > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.luggage.name }}</td>
                            <td>{{ item.luggage.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.luggage.price * item.quantity }}</td>
                            <td>
                                <a href="{{ path('cart_remove', {id : item.luggage.id}) }}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total :</td>
                    <td>{{ total }}</td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <p>Le panier est vide</p>
        {% endif %}
    </div>

{% endblock %}
